#register-container {
    padding-top: 50px;
    width: 500px;
}

#register-form-group {
    margin-top: 25px;
}
  
#register-btn {
    background-color: rgb(80, 80, 86);
    border-radius: 10px;
    color: white;
    margin-top: 40px;
}