.jumbotron {
  padding: 80px;
  margin-top: 50px;
}
p {
  padding-bottom: 20px;
}
.btn {
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.btn-custom {
  background-color: rgb(130, 60, 216);
  border-radius: 10px;
  color: white;
  font-size: 14px;
  padding: 10px 20px; 
}

.btn-primary-custom {
  background-color: rgb(130, 60, 216);
  color: white;
  border-radius: 10px;
  font-size: 12px;
  padding: 10px 20px;
  margin-top: 20px;
}

.container {
  padding-top: 60px;
}